<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <title>Founder Hub</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="/style/style.css" />
  <body>
    <%- include('./partials/header') %>
    <div id="index-page">
      <h2>
        Welcome to <span style="color: rgb(62, 104, 184)">Founder</span> Hub
      </h2>
      <p>
        Web page where you can view, add and modify list of most successful
        entrepreneurs and businesses in modern history.
      </p>
    </div>
  </body>
</html>
