<div class="input-container">
  <label for="country">Nationality</label>
  <select required id="country" name="country" class="form-control">
    <option value="" disabled selected>Select Nationality</option>
    <option value="Afghan">Afghan</option>
    <option value="Åland Islander">Åland Islander</option>
    <option value="Albanian">Albanian</option>
    <option value="Algerian">Algerian</option>
    <option value="American Samoan">American Samoan</option>
    <option value="Andorran">Andorran</option>
    <option value="Angolan">Angolan</option>
    <option value="Anguillian">Anguillian</option>
    <option value="Antarctic">Antarctic</option>
    <option value="Antiguan or Barbudan">Antiguan or Barbudan</option>
    <option value="Argentine">Argentine</option>
    <option value="Armenian">Armenian</option>
    <option value="Aruban">Aruban</option>
    <option value="Australian">Australian</option>
    <option value="Austrian">Austrian</option>
    <option value="Azerbaijani">Azerbaijani</option>
    <option value="Bahamian">Bahamian</option>
    <option value="Bahraini">Bahraini</option>
    <option value="Bangladeshi">Bangladeshi</option>
    <option value="Barbadian">Barbadian</option>
    <option value="Belarusian">Belarusian</option>
    <option value="Belgian">Belgian</option>
    <option value="Belizean">Belizean</option>
    <option value="Beninese">Beninese</option>
    <option value="Bermudian">Bermudian</option>
    <option value="Bhutanese">Bhutanese</option>
    <option value="Bolivian">Bolivian</option>
    <option value="Bosnian or Herzegovinian">Bosnian or Herzegovinian</option>
    <option value="Botswanan">Botswanan</option>
    <option value="Bouvet Islander">Bouvet Islander</option>
    <option value="Brazilian">Brazilian</option>
    <option value="BIOT">BIOT</option>
    <option value="Bruneian">Bruneian</option>
    <option value="Bulgarian">Bulgarian</option>
    <option value="Burkinabé">Burkinabé</option>
    <option value="Burundian">Burundian</option>
    <option value="Cambodian">Cambodian</option>
    <option value="Cameroonian">Cameroonian</option>
    <option value="Canadian">Canadian</option>
    <option value="Cape Verdean">Cape Verdean</option>
    <option value="Caymanian">Caymanian</option>
    <option value="Central African">Central African</option>
    <option value="Chadian">Chadian</option>
    <option value="Chilean">Chilean</option>
    <option value="Chinese">Chinese</option>
    <option value="Christmas Islander">Christmas Islander</option>
    <option value="Cocos Islander">Cocos Islander</option>
    <option value="Colombian">Colombian</option>
    <option value="Comorian">Comorian</option>
    <option value="Congolese">Congolese</option>
    <option value="Congolese (DRC)">Congolese (DRC)</option>
    <option value="Cook Islander">Cook Islander</option>
    <option value="Costa Rican">Costa Rican</option>
    <option value="Ivorian">Ivorian</option>
    <option value="Croatian">Croatian</option>
    <option value="Cuban">Cuban</option>
    <option value="Cypriot">Cypriot</option>
    <option value="Czech">Czech</option>
    <option value="Danish">Danish</option>
    <option value="Djiboutian">Djiboutian</option>
    <option value="Dominican">Dominican</option>
    <option value="Dominican (Republic)">Dominican (Republic)</option>
    <option value="Ecuadorean">Ecuadorean</option>
    <option value="Egyptian">Egyptian</option>
    <option value="Salvadoran">Salvadoran</option>
    <option value="Equatorial Guinean">Equatorial Guinean</option>
    <option value="Eritrean">Eritrean</option>
    <option value="Estonian">Estonian</option>
    <option value="Ethiopian">Ethiopian</option>
    <option value="Falkland Islander">Falkland Islander</option>
    <option value="Faroese">Faroese</option>
    <option value="Fijian">Fijian</option>
    <option value="Finnish">Finnish</option>
    <option value="French">French</option>
    <option value="French Guianan">French Guianan</option>
    <option value="French Polynesian">French Polynesian</option>
    <option value="French Southern Territories Citizen">
      French Southern Territories Citizen
    </option>
    <option value="Gabonese">Gabonese</option>
    <option value="Gambian">Gambian</option>
    <option value="Georgian">Georgian</option>
    <option value="German">German</option>
    <option value="Ghanaian">Ghanaian</option>
    <option value="Gibraltarian">Gibraltarian</option>
    <option value="Greek">Greek</option>
    <option value="Greenlander">Greenlander</option>
    <option value="Grenadian">Grenadian</option>
    <option value="Guadeloupean">Guadeloupean</option>
    <option value="Guamanian">Guamanian</option>
    <option value="Guatemalan">Guatemalan</option>
    <option value="Guernseyman">Guernseyman</option>
    <option value="Guinean">Guinean</option>
    <option value="Bissau-Guinean">Bissau-Guinean</option>
    <option value="Guyanese">Guyanese</option>
    <option value="Haitian">Haitian</option>
    <option value="Heard/McDonald Islander">Heard/McDonald Islander</option>
    <option value="Vatican Citizen">Vatican Citizen</option>
    <option value="Honduran">Honduran</option>
    <option value="Hong Konger">Hong Konger</option>
    <option value="Hungarian">Hungarian</option>
    <option value="Icelandic">Icelandic</option>
    <option value="Indian">Indian</option>
    <option value="Indonesian">Indonesian</option>
    <option value="Iranian">Iranian</option>
    <option value="Iraqi">Iraqi</option>
    <option value="Irish">Irish</option>
    <option value="Manx">Manx</option>
    <option value="Israeli">Israeli</option>
    <option value="Italian">Italian</option>
    <option value="Jamaican">Jamaican</option>
    <option value="Japanese">Japanese</option>
    <option value="Jersey Person">Jersey Person</option>
    <option value="Jordanian">Jordanian</option>
    <option value="Kazakh">Kazakh</option>
    <option value="Kenyan">Kenyan</option>
    <option value="I-Kiribati">I-Kiribati</option>
    <option value="North Korean">North Korean</option>
    <option value="South Korean">South Korean</option>
    <option value="Kuwaiti">Kuwaiti</option>
    <option value="Kyrgyz">Kyrgyz</option>
    <option value="Laotian">Laotian</option>
    <option value="Latvian">Latvian</option>
    <option value="Lebanese">Lebanese</option>
    <option value="Basotho">Basotho</option>
    <option value="Liberian">Liberian</option>
    <option value="Libyan">Libyan</option>
    <option value="Liechtensteiner">Liechtensteiner</option>
    <option value="Lithuanian">Lithuanian</option>
    <option value="Luxembourger">Luxembourger</option>
    <option value="Macanese">Macanese</option>
    <option value="Macedonian">Macedonian</option>
    <option value="Malagasy">Malagasy</option>
    <option value="Malawian">Malawian</option>
    <option value="Malaysian">Malaysian</option>
    <option value="Maldivian">Maldivian</option>
    <option value="Malian">Malian</option>
    <option value="Maltese">Maltese</option>
    <option value="Marshallese">Marshallese</option>
    <option value="Martinican">Martinican</option>
    <option value="Mauritanian">Mauritanian</option>
    <option value="Mauritian">Mauritian</option>
    <option value="Mahoran">Mahoran</option>
    <option value="Mexican">Mexican</option>
    <option value="Micronesian">Micronesian</option>
    <option value="Moldovan">Moldovan</option>
    <option value="Monégasque">Monégasque</option>
    <option value="Mongolian">Mongolian</option>
    <option value="Montenegrin">Montenegrin</option>
    <option value="Montserratian">Montserratian</option>
    <option value="Moroccan">Moroccan</option>
    <option value="Mozambican">Mozambican</option>
    <option value="Burmese">Burmese</option>
    <option value="Namibian">Namibian</option>
    <option value="Nauruan">Nauruan</option>
    <option value="Nepalese">Nepalese</option>
    <option value="Dutch">Dutch</option>
    <option value="Netherlands Antillean">Netherlands Antillean</option>
    <option value="New Caledonian">New Caledonian</option>
    <option value="New Zealander">New Zealander</option>
    <option value="Nicaraguan">Nicaraguan</option>
    <option value="Nigerien">Nigerien</option>
    <option value="Nigerian">Nigerian</option>
    <option value="Niuean">Niuean</option>
    <option value="Norfolk Islander">Norfolk Islander</option>
    <option value="Northern Marianan">Northern Marianan</option>
    <option value="Norwegian">Norwegian</option>
    <option value="Omani">Omani</option>
    <option value="Pakistani">Pakistani</option>
    <option value="Palauan">Palauan</option>
    <option value="Palestinian">Palestinian</option>
    <option value="Panamanian">Panamanian</option>
    <option value="Papua New Guinean">Papua New Guinean</option>
    <option value="Paraguayan">Paraguayan</option>
    <option value="Peruvian">Peruvian</option>
    <option value="Filipino">Filipino</option>
    <option value="Pitcairn Islander">Pitcairn Islander</option>
    <option value="Polish">Polish</option>
    <option value="Portuguese">Portuguese</option>
    <option value="Puerto Rican">Puerto Rican</option>
    <option value="Qatari">Qatari</option>
    <option value="Réunionese">Réunionese</option>
    <option value="Romanian">Romanian</option>
    <option value="Russian">Russian</option>
    <option value="Rwandan">Rwandan</option>
    <option value="Saint Helenian">Saint Helenian</option>
    <option value="Kittitian or Nevisian">Kittitian or Nevisian</option>
    <option value="Saint Lucian">Saint Lucian</option>
    <option value="Saint-Pierrais or Miquelonnais">
      Saint-Pierrais or Miquelonnais
    </option>
    <option value="Saint Vincentian">Saint Vincentian</option>
    <option value="Samoan">Samoan</option>
    <option value="Sammarinese">Sammarinese</option>
    <option value="São Toméan">São Toméan</option>
    <option value="Saudi Arabian">Saudi Arabian</option>
    <option value="Senegalese">Senegalese</option>
    <option value="Serbian">Serbian</option>
    <option value="Seychellois">Seychellois</option>
    <option value="Sierra Leonean">Sierra Leonean</option>
    <option value="Singaporean">Singaporean</option>
    <option value="Slovak">Slovak</option>
    <option value="Slovene">Slovene</option>
    <option value="Solomon Islander">Solomon Islander</option>
    <option value="Somali">Somali</option>
    <option value="South African">South African</option>
    <option value="South Georgian">South Georgian</option>
    <option value="Spanish">Spanish</option>
    <option value="Sri Lankan">Sri Lankan</option>
    <option value="Sudanese">Sudanese</option>
    <option value="Surinamese">Surinamese</option>
    <option value="Svalbardian">Svalbardian</option>
    <option value="Swazi">Swazi</option>
    <option value="Swedish">Swedish</option>
    <option value="Swiss">Swiss</option>
    <option value="Syrian">Syrian</option>
    <option value="Taiwanese">Taiwanese</option>
    <option value="Tajik">Tajik</option>
    <option value="Tanzanian">Tanzanian</option>
    <option value="Thai">Thai</option>
    <option value="Timorese">Timorese</option>
    <option value="Togolese">Togolese</option>
    <option value="Tokelauan">Tokelauan</option>
    <option value="Tongan">Tongan</option>
    <option value="Trinidadian or Tobagonian">Trinidadian or Tobagonian</option>
    <option value="Tunisian">Tunisian</option>
    <option value="Turkish">Turkish</option>
    <option value="Turkmen">Turkmen</option>
    <option value="Turks and Caicos Islander">Turks and Caicos Islander</option>
    <option value="Tuvaluan">Tuvaluan</option>
    <option value="Ugandan">Ugandan</option>
    <option value="Ukrainian">Ukrainian</option>
    <option value="Emirati">Emirati</option>
    <option value="British">British</option>
    <option value="American">American</option>
    <option value="US Minor Outlying Islander">
      US Minor Outlying Islander
    </option>
    <option value="Uruguayan">Uruguayan</option>
    <option value="Uzbek">Uzbek</option>
    <option value="Ni-Vanuatu">Ni-Vanuatu</option>
    <option value="Venezuelan">Venezuelan</option>
    <option value="Vietnamese">Vietnamese</option>
    <option value="British Virgin Islander">British Virgin Islander</option>
    <option value="U.S. Virgin Islander">U.S. Virgin Islander</option>
    <option value="Wallisian or Futunan">Wallisian or Futunan</option>
    <option value="Sahrawi">Sahrawi</option>
    <option value="Yemeni">Yemeni</option>
    <option value="Zambian">Zambian</option>
    <option value="Zimbabwean">Zimbabwean</option>
  </select>
</div>
