<header id="main-header">
  <h1><span style="color: rgb(62, 104, 184)">Founder</span> Hub</h1>
  <ul id="header-links">
    <li><a href="entrepreneur">Entrepreneurs</a></li>
    <li><a href="business">Businesses</a></li>
    <li><a href="role">Roles & Relationships</a></li>
  </ul>
</header>
